.projects-list {
    padding: 0;
    list-style: none;
    z-index: -10000;
}

.project {
    display: grid;
    justify-content: center;
    padding: 0;
    @media (min-width: 768px) {
        padding: 2em 2em;
        grid-template-columns: 50% 50%;
        flex-direction: row;
        gap: 1em;
        z-index: -1;
    }    
}

.image {
    justify-self: center;
    width: 90%;
    height: 15em;
    background: #ccc;

    @media (min-width: 768px) {
        order: -1;
    } 
} 

.text {
    margin-bottom: 2em;
    width: 90%;
    justify-self: center;

    @media (min-width: 768px) {
        order: 0;
        padding: 2em;
        line-height: 1.3;
    } 
}

.text p {
    margin-bottom: 1.5em;
    color:#5A6064;
}

@media (min-width: 768px) {
    .sudoku-img {
        order: 0;
    }
    
    .sudoku-text {
        order: -1;
    }
} 

.links a {
    margin-right: 1em;
    padding: .6em;
    border-radius: 40px;
    font-size: 1.3rem;
    text-align: center;
    color: #5A6064;
    background: #E0E7EB;
    z-index: 1000;
    cursor: pointer!important;
}