.intro-text {
    order: 1;
    justify-self: center;
    width: 90%;

    @media (min-width: 768px) {
        order: -1;
        line-height: 1.6;
        font-size: 1.2rem;
    } 
}

.intro-text h2 {
    font-weight: 600;
}

.intro-text h3 {
    color: #5A6064;
    font-weight: 400;
}

h3 span {
    position: relative;
    text-decoration: underline;
    z-index: 21;
    cursor: pointer!important;
}