.nav-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.website-logo {
    margin-top: 0;
}

nav {
    top: 100%;
    left: 0;
    text-align: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;

}

nav a {
    text-decoration: none;
}