// fonts
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
$main: 'Public Sans', sans-serif;

// colours
$white: #FFF;
$black: #202225;

html {
	font-size: 17px;

	@media (min-width: 320px) {
		font-size: 13px; 
	}

	@media (min-width: 768px) {
		font-size: 15px; 
	}

	@media (min-width: 1200px) {
		font-size: 17px; 
	}
}

body {
	margin: 0px;
	padding: 0px;
	background: $white;
	color: $black;
	font-family: $main;
	font-size: 1.5rem;
}

h1 {
	font-size: 2em;
}