.intro-section {
    padding: 4em 0 1em;
    display: grid;
    align-items: center;
    justify-content: center;
    
    @media (min-width: 768px) {
        padding: 2em 5em 3em;
        grid-template-columns: 50% 50%;
        flex-direction: row;
        gap: 1em;
        z-index: -1;
    }    

    @media (min-width: 1600px) {
        padding: 4em 11.5em;
    }    
}