.intro-section {
    padding-top: 4em;
    display: grid;
    justify-content: center;
    align-items: center;
    
    @media (min-width: 768px) {
        padding: 2em 2em;
        grid-template-columns: 50% 50%;
        flex-direction: row;
        gap: 1em;
        z-index: -1;
    }    
}