// colours
$white: #FFF;
$black: #202225;
$gray: #888888;

.nav-item-list {
    padding: 0 2em;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: transparent;
}

ul li.switch {
    position: absolute;
    left: 0;
    margin-left: 2em;
}

ul li.draw-mode {
    position: absolute;
    left: 5em;
    color: $gray;
}

.desktop-menu-item {
    position: relative;
    margin-left: .6em;
    text-decoration: none;
    z-index: 1000;
    cursor: pointer !important;
}

.desktop-menu-item:visited {
    color: $black;
}

