// colours
$white: #FFF;
$black: #202225;

.nav-item-list {
    //margin: 0 3em;
    padding: 0 2em;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: transparent;
}

.desktop-menu-item {
    position: relative;
    margin-left: .6em;
    text-decoration: none;
    z-index: 1000;
    cursor: pointer !important;
}

.desktop-menu-item:visited {
    color: $black;
}